.form {
  text-align: center;
}

.form label {
  color: var(--primary-color);
  font-family: var(--text-font);
  font-size: var(--text-font-size);
}

.form input {
  display: block;
  width: 55%;
  padding: 0.2rem 0.3rem;
  font-family: var(--text-font);
  font-size: calc(0.9 * var(--text-font-size));
  text-align: center;
  color: grey;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 10px var(--secondary-color);
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form button:disabled {
  opacity: 0.6;
}

.error {
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
