.wrapper {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 1rem;
  padding-top: 60px;
  padding-bottom: 50px;
  position: sticky;
  bottom: 0;
  padding-left: 5%;
  padding-right: 7%;
  background-image: linear-gradient(
    180deg,
    rgba(98, 170, 225, 1) 0%,
    rgba(87, 140, 181, 1) 30%,
    rgba(87, 140, 181, 1) 80%,
    rgb(70, 112, 144) 100%
  );
}

.logoContainer {
  display: flex;
}

.wrapperLogo {
  margin-top: 3rem;
  position: relative;
  width: clamp(12rem, 30vw, 18rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  width: 75%;
  height: auto;
}

.blobLogo {
  width: 100%;
  height: auto;
  position: absolute;
}

.mediaWrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.facebook,
.instagram {
  position: relative;
  width: 4rem;
  height: auto;
  transition: scale 0.1s ease-in-out;
}

.facebook:hover,
.instagram:hover {
  scale: 1.1;
}

.contactWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1rem;
  flex-grow: 1;
}

.contactWrapper a {
  position: relative;
  font-family: var(--subtitle-font);
  font-size: calc((var(--subtitle-font-size)) * 0.75);
  background-color: var(--secondary-color);
  border-radius: 100vw;
  color: white;
  border: none;
  padding: 0.3em 0.75em;
  transition: scale 0.1s ease-in-out;
  text-decoration: none;
}

.contactWrapper a:hover {
  scale: 1.1;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.infoItem {
  color: white;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.infoItem img {
  width: 2.5rem;
  height: auto;
}

.left,
.right {
  position: absolute;
  width: clamp(10rem, 40vw, 25rem);
  height: auto;
  top: 30px;
}

.left {
  transform: scale(1, -1);
  left: 0;
}

.right {
  transform: scale(-1, -1);
  right: 0;
}

@media (max-width: 967px) {
  .wrapper {
    display: grid;
    justify-items: center;
    grid-template-areas:
      "logo contactInfo"
      "contact contact";
  }

  .wrapperLogo {
    grid-area: logo;
  }

  .infoWrapper {
    grid-area: contactInfo;
  }

  .contactWrapper {
    grid-area: contact;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .facebook,
  .instagram {
    width: 3rem;
  }
}

@media (max-width: 535px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .infoWrapper {
    margin-top: 1rem;
    align-items: center;
  }

  .logoContainer {
    order: -2;
  }

  .wrapperLogo {
    display: none;
  }

  .mediaWrapper {
    margin-top: 0;
    flex-direction: row;
  }

  .contactWrapper {
    margin-top: 1rem;
  }
}
