.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.titleWrapper {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.titleWrapper h2 {
  position: relative;
}

.titleWrapper img {
  height: auto;
  width: max(25rem, 50vw);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translatey(75%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.container > img {
  cursor: pointer;
  flex-grow: 1;
  transition: scale 0.1s ease-in-out;
}

.container > img:hover {
  scale: 1.1;
}

.rightArrow {
  transform: scalex(-1);
}

.section > a button {
  background-color: var(--primary-color);
}

.container > div:last-child {
  display: none;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 476px) {
  .container {
    display: block;
  }
  .container > img {
    display: none;
  }
  .container > div:last-child {
    display: flex;
  }
}
